body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}
table {
  font-family: Courier, monospace;
  border-collapse: collapse;
  width: 100%;
}
a {
  text-decoration: none;
  color: royalblue;
}
a:hover { text-decoration: underline; }

.error {
  color: red;
  padding: 8px;
}

.stocks-container {
  margin-bottom: 1.5em;
  width: 100%;
  max-width: 600px;
}

.stock-symbol {
  width: 12%;
  padding: 2px 4px 2px 0px;
}

.stock-price, .stock-change, .stock-change-pct, .stock-mkt-cap {
  width: 22%;
  text-align: right;
  padding: 2px 4px;
}
.currency-price, .currency-change, .currency-change-pct {
  width: 22%;
  text-align: right;
  padding: 2px 4px;
}

details {
  margin-bottom: 1em;
}
summary:hover { cursor: pointer; }

p {
  margin: 2px;
}

.attribution, .updated-timestamp {
  background-color: white;
}

footer {
  position: relative;
  font-size: 0.8em;
}
footer div {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
